<header class="masthead">
  <div class="overlay">
    <div class="container">
	    <br>
	    <br>
      <h1 class="display-1 text-white">Business</h1>
      <br>
      <br>
    </div>
  </div>
</header>
<div id="business-slide-2">
<section>
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
	<div class="p-5">
	  <%= image_tag "business/website.jpg", class: "img-fluid rounded-circle", style: "height: 25rem;"%>
	</div>
      </div>
      <div class="col-md-6 order-1">
	<div class="p-5">
	  <h2 class="display-4">Website</h2>
	  <p> The business team handles all of MAAVs web projects including this website!
	 The site is made using HTML (Bootstrap) and CSS on the front end, and uses
	Ruby on Rails as the backend. We are always looking for people interested in web dev to help make our site the best at IARC.</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
	<div class="p-5">
	  <%= image_tag "business/sponsorship.jpg", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6">
	<div class="p-5">
	  <h2 class="display-4">Sponsorship</h2>
	  <p>In order for anything we do to be possible, we require funding from all of our generous
	  sponsors. The sponsorship department of the business subteam is responsible for reaching
	out to our current sponsors and ensuring their continued support. The business team also works to form new relationships with interested sponsors.
	 MAAV thanks all its sponsors greatly for their contributions over the years.</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
	<div class="p-5">
	  <%= image_tag "business/blog.jpg", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6 order-1">
	<div class="p-5">
	  <h2 class="display-4">Blog</h2>
	  <p>Our blog on Medium is a great way to keep up with everything that MAAV does.
	  It is meant as a resource both for members of MAAV to understand what the other
	subteams are doing, and for non-members to understand what the club is doing. It will
      be updated approximately every month, with a post detailing all the activites of each of the
	individual subteams, to give people a good idea of our big-picture workings.</p>
	</div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Michigan Autonomous Aerial Vehicles</p>
  </div>
  <!-- /.container -->
</footer>
