<header class="masthead">
  <div class="overlay">
    <div class="container">
	    <br>
	    <br>
      <h1 class="display-1 text-white">Circuits</h1>
      <br>
      <br>
    </div>
  </div>
</header>
<div id="circuits-slide-2">
<section>
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
	<div class="p-5">
    <%= image_tag "circuits/circuits_solder.jpeg", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6 order-1">
	<div class="p-5">
	  <h2 class="display-4">Bringing The Drone to Life</h2>
	  <p> MAAV builds all of the electrical components in house.
	  The circuits team leads and design and construction of these components.
	  The team works with the different sensors on the quad-copter and routes information
	  across the vehicle to the electrical components. We also design a PCB to power the quad-copter.</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
	<div class="p-5">
	  <%= image_tag "circuits/boards.png", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6">
	<div class="p-5">
	  <h2 class="display-4">Design and Safety</h2>
	  <p>Circuits works to find the the best solution and modern technology that we can use to
		  create a fast and powerful signal board and power board. The vehicle's printed circuit board (PCB)
		  has to provide a platform for control software to run and communicate with navigation software,
		  as well as manage the safety of the battery, motors, and operators.
		  Circuits tools such as Eagle and Subversion for design and collboration.</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
	<div class="p-5">
	  <%= image_tag "circuits/meeting.jpg", class: "img-fluid rounded-circle", style: "height: 25rem;"%>
	</div>
      </div>
      <div class="col-md-6 order-1">
	<div class="p-5">
	  <h2 class="display-4">Highly Collaborative</h2>
	  <p>Comprised mainly of CE and EE majors, the circuits team is close knit and highly agile.
	In order to develop a robust system, the circuits team collaborates heavily with the
	  structures and software infrastructure teams.</p>
	</div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Michigan Autonomous Aerial Vehicles</p>
  </div>
  <!-- /.container -->
</footer>
