<header class="masthead">
  <div class="overlay">
    <div class="container">
	    <br>
	    <br>
      <h1 class="display-1 text-white">Circuits</h1>
      <br>
      <br>
    </div>
  </div>
</header>
<div id="slide-2">
<section>
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
	<div class="p-5">
	  <%= image_tag "about/historia.jpg", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6 order-1">
	<div class="p-5">
	  <h2 class="display-4">A brief history...</h2>
	  <p>MAAV was formed in a tiny room in 2008 by a group of four students at the University of Michigan.
	     We were one of the very first teams in Michigan’s history to work with autonomous vehicles, and we
	     revolutionized the Wilson Centre, the building where the organization is located, by accommodating
	     the increase in popularity of software engineering. Fun fact: the four original founders went on to
	     form their own startup, a drone corporation known as Sky Specs.</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
	<div class="p-5">
	  <%= image_tag "about/1iarc.jpeg", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6">
	<div class="p-5">
	  <h2 class="display-4">IARC</h2>
	  <p>MAAV participates in the International Aerial Robotics Competition (IARC), held in the United States
	     and China biannually, against teams from across the world. The competition consists of several missions,
	     or challenges, that teams must complete to win. These vary from search and rescue missions to flying
	     into a village 3km away, searching for a particular building, and inserting a robot into an open
	     window in that building. No team has successfully completed all the challenges in the competition’s
	     history, but MAAV's drone consistently ranks highly. In 2012, it won first place in the
	     competition for successfully maneuvering and mapping the set course in one of the challenges.</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
	<div class="p-5">
	  <%= image_tag "about/joinus.jpeg", class: "img-fluid rounded-circle" %>
	</div>
      </div>
      <div class="col-md-6 order-1">
	<div class="p-5">
	  <h2 class="display-4">Join us!</h2>
	  <p>Joining MAAV is as simple as joining the mailing list and going to workdays and meetings. All our
	     subteam meetings during the week are announced on the mailing list, and every weekend, we dedicate
	     several hours of work in the Wilson Center.  Please note that our mailing list is relatively high-
	     volume, as all of our version control systems, our continuous integration setup, and other team
	   communications are sent to this list. Email us at maav-leads@umich.edu! </p>
	</div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Michigan Autonomous Aerial Vehicles</p>
  </div>
  <!-- /.container -->
</footer>
