	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="How to Join MAAV">
		<meta name="author" content="Alvarez.is - BlackTie.co">
		<link rel="shortcut icon" href="assets/ico/favicon.png">

		<title>Welcome to MAAV</title>

		<!-- Custom styles for this template -->
		<link href="assets/css/main.css" rel="stylesheet">

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/smoothscroll.js"></script>


	</head>

	<body data-spy="scroll" data-offset="0" data-target="#navigation">


		<section id="home" name="home"></section>
		<div id="headerwrap">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-12">
						<h1>Welcome To <b>MAAV</b></h1>
						<h3>Learn about our team and how to join.</h3>
						<br>
					</div>
				</div>
			</div> <!--/ .container -->
		</div><!--/ #headerwrap -->


		<section id="desc" name="desc"></section>
		<!-- INTRO WRAP -->
		<div id="intro">
			<div class="container">
				<div class="row centered">
					<h1>How to Join</h1>
					<div class="row centered">
						<!--
						<div class="col-lg-12">
							<h3>Complete our <a href="https://goo.gl/forms/0vANb5n7oz9nd6Q62"><b>Google Form</b></a></h3>
							<br>
						</div>
						-->
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<a href="https://goo.gl/forms/0vANb5n7oz9nd6Q62">
							<img src="assets/img/intro01.png" alt=""></a>
							<h3>Email maav-leads@umich.edu with the subteam your're interested in.</h3>
							<br>
							<!--<a href="https://mcommunity.umich.edu/#group:Prospective%20MAAV%20Students">
							<img src="assets/img/intro01.png" alt=""></a>
							<h3>Join Our Mailing list</h3>
							<p>Mcommunity mailing list for prospective MAAV members.</p>
							-->
						</div>
					</div>
					<br>
					<hr>
				</div> <!--/ .container -->
			</div><!--/ #introwrap -->

			<!-- FEATURES WRAP -->
			<section id="overview" name="overview"></section>
			<div id="features">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1 class="centered" id="subHead">Who We Are</h1>
							<div class="container">
								<div class="row">
									<div class="col-lg-12" id="left_info">
											<h3 class="centered">MAAV is a fully student led project team at the University of Michigan that builds an autonomous drone to compete at the annual <a href="http://www.aerialroboticscompetition.org/">International Aerial Robotics Competition (IARC).</a> Members of MAAV engage in the designing, building, and testing of an autonomous unmanned aerial system (UAS) while furthering multiple areas of Computer Science and Aerospace Engineering research.</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/ .container -->
			</div><!--/ #features -->

			<!-- FEATURES WRAP -->
			<section id="subteams" name="subteams"></section>
			<div id="features">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1 class="centered" id="subHead">Our Subteams</h1>
							<div class="container">
								<div class="row">
									<div class="col-lg-12" id="left_info">
										<div class="col-lg-6">
											<h3 class="centered">Structures</h3>
											<h4 class="centered">Structures is responsible for the design and fabrication of MAAV's airframes. Our quadcopter is a combination of carbon fiber, milled plastic, and 3D printed plastic, which creates a durable, light airframe that can withstand intense maneuvers and crashes. We use SolidWorks for design and Subversion for collaboration.</h4>
										</div>
										<div class="col-lg-6">
											<img src="assets/img/Picture1.png" class="img-responsive" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="col-lg-6">
											<img src="assets/img/circuits.png" class="img-responsive" alt="">
										</div>
										<div class="col-lg-6">
											<h3 class="centered">Circuits</h3>
											<h4 class="centered">Circuits designs and builds both the vehicle's electrical hardware and various other electrical hardware, such as electronics for testing motors and materials. The vehicle's printed circuit board (PCB) has to provide a platform for the control software to run and communicate with the navigation software, as well as manage the safety of the battery, motors, and operators. We design with Eagle and use Subversion for collaboration.</h4>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<h2 class="centered">Software</h3>
										<div class="col-lg-6">
											<img src="assets/img/anim.gif" class="img-responsive" alt=""/>
										</div>
										<div class="col-lg-6">
											<h3 class="centered">Utilities</h3>
											<h4 class="centered">Utilities is responsible for developing tools for the rest of the team to use. Pictured is the physical simulator we developed. The renderer is written using OpenGL, and the physics backend is built using Bullet Physics. The simulator can simulate all of our sensor inputs, and allows us to test our entire software stack in a virtual environment.<br><br> Utilities also develops the Ground Control Station, a GUI which allows users to control the vehicle using a laptop which is not on the vehicle. </h4>
											<h3 class="centered"><br>Mission Planning</h3>
											<h4 class="centered">Mission Planning is responsible for developing the algorithm which figures out where our quadcopter has to fly in order to reach the highest score. This is the brain of our autonomous algorithms, MAAV would not be autonomous without it. Members of Mission Planning work actively with graduate level robotics students to find a solution to this problem. </h4>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="col-lg-6">
											<h3 class="centered">Perception</h3>
											<h4 class="centered">The Perception subteam uses sensors to view the surrounding environment, and writes algorithm to process the raw data. Currently the team uses primarily computer vision for roomba detection and line detection. They also use LIDAR to determine the position of obstacles. In the coming semester they will be using Intel Realsense RGBD cameras to improve perception, as well as Jetson TX2s to attempt a Neural Network solution to the perception challenge. </>
											<h3 class="centered">Localization</h3>
											<h4 class="centered">The Localization subteam develops the algorithm that figures out the absolute position of our drone by combining information from the perception subteam and IMU sensor. Localization uses advanced robotics techniques such as an Iterative Kalman Filter to accomplish this goal. </>
										</div>
										<div class="col-lg-6">
											<img src="assets/img/vision.png" class="img-responsive" alt=""/>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<h3 class="centered">Embedded Systems</h3>
										<h4 class="centered">The Embedded Systems subteam develops driver sofware for interfacing with the low level sensors on the vehicle for our Texas Instruments TIVA Microprocessor. This subteam works closely with circuits to ensure reliable sensor communication and data throughput.</h3>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<h3 class="centered">Business</h3>
											<h4 class="centered">The Business team is an interdisciplinary team focused on presenting MAAV to the outside world. One big aspect of this is working with sponsors to secure funding for MAAV's projects. This team also works on growing MAAVs web presence through website development and social media by publishing weekly blog posts.</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/ .container -->
			</div><!--/ #features -->



			<section id="contact" name="contact"></section>
			<div id="footerwrap">
				<div class="container">
					<div class="centered">
						<h3>Email us at maav-leads@umich.edu with any questions or concerns.</h4>
					</div>
				</div>
			</div>
			<div id="c">
				<div class="container">
					<p>Created by <a href="http://www.maavumich.org">MAAV</a></p>

				</div>
			</div>


			<!-- Bootstrap core JavaScript
	   ================================================== -->
	   <!-- Placed at the end of the document so the pages load faster -->
	   <script src="assets/js/bootstrap.js"></script>
	   <script>
$('.carousel').carousel({
	interval: 3500
})
	   </script>
	</body>
</html>
